<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include menu %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>Create a new user</h2>
    <form action="/users/create", method="post">
        <input type="text", name="username"/>
        <input type="submit"/>
    </form>

    <% posts.forEach(function(post) { %>
        <div class='entry'>
            <h3><%= post.title %></h3>
            <%- post.body %>

        </div>
    <% }) %>

  </body>
</html>
